

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #D5DEEF; 
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #B1C9EF; 
  border-radius: 6px;
  border: 3px solid #D5DEEF;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #84AAEC; 
}

