@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; 
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569; 
  border-radius: 6px;
  border: 3px solid #1e293b; 
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; 
}
